<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <%= link_to "URL Shortener", root_path, id: "logo" %>
      <nav>
        <!-- <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul> -->

<!-- <form action='/urls' method='post' class='navbar-form pull-left'>
	<input type='text' class='input-xlarge' name='link' placeholder='Enter Original URL (Required)'>
	<input type='text' class='input-medium' name='short' placeholder='Optional shortcode'>
	<input type='submit' value='Shorten' class='btn btn-primary'>
</form> -->

      </nav>
    </div>
  </div>
</header>